@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

//Colors:
/*---------
rgb(255,255,255)
rgb(0,0,0)
rgba(0,0,0,0.5)
rgba(0,0,0,0.24)
rgb(22, 34, 42)
rgb(58, 96, 115)


//Fonts:
Bitter
FontAwesome

----------*/
$max-width: 80em;
$color-white: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter";
}

.main-wrapper {
  .header {
    text-align: center;
    padding: 70px 0;
    color: $color-white;
    background: linear-gradient(99deg, rgba(45,72,90,1) 0%, rgba(25,38,47,1) 99%);
  }
}
